@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Poppins%3A300%2C500%7CNunito%3A300%2C500&subset=latin-ext&ver=1.0.0');


:root {
  --bg-color-blue: #E5EEFE;
  --bg-light-blue: #5580ff;
  --text-blue: #58468B;
  --text-black: #716C80;
  --text-purple: #58468c;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: #abb8c3;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  /* font-family: Nunito, sans-serif; */
  color: var(--text-black);
  background: var(--bg-color-blue);
}

h1, h2, h3, h4, h5, h6 {
  /* font-family: Nunito, sans-serif; */
  margin: 20px 0;
  color: var(--text-purple);
}

body, h1, h2, h3 {
  font-weight: 300;
}

h3 {
  font-size: 45px;
  line-height: 1.22em;
}

.top-menu-item.active::before {
  display: inline-block;
  content: "";
  height: 8px;
  width: 8px;
  background-color: var(--bg-light-blue);
  border-radius: 50%;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
